@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Medium'), local('HelveticaNeue-Medium'),
       url('https://fonts.cdnfonts.com/s/15307/HelveticaNeueMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
.header-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  margin-bottom: 1.5em;
}

.station-banner {
  width: 636px;
  height: 250px;
  background: #255882;
  display: flex;
  align-items: flex-end;
  padding-left: 46px;
  padding-bottom: 45px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
}
.big-clock {
  font-size: 3em;
  font-family: monospace;
  color: #fff;
  font-weight: bold;
  margin-left: 2em;
  align-self: flex-start;
  padding-top: 30px;
}
.station-name {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 5em;
  line-height: 1;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@400&display=swap');

body {
  font-family: 'Doto', sans-serif;
  background: #222;
  color: #fff;
}
.departures-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 2em;
}
.departures-header-row td {
  font-weight: bold;
  background: #333;
  font-size: 1.1em;
  color: #ffb300;
  border-top: 4px solid #ffb300;
  border-bottom: 4px solid #ffb300;
  border-left: none;
  border-right: none;
  padding: 0.5em 1em;
}
.departures-data-row td {
  background: #222;
  color: #ffb300;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
  border-left: none;
  border-right: none;
  padding: 0.5em 1em;
}
i.fa-solid.fa-bus-simple {
  color: #ffb300;
  font-size: 1.2em;
}
.verspaetung {
  text-align: right;
  width: 2.5em;
  min-width: 2.5em;
  max-width: 3em;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}
.rotate-refresh {
  animation: rotate-refresh-anim 1s linear;
  color: #00c853 !important;
}
@keyframes rotate-refresh-anim {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.minutenanzeige {
  letter-spacing: 0;
  font-feature-settings: 'tnum';
}
